@using IpCamLibrary
@model Settings

@{
    ViewBag.Title = "Добавить новую камеру";
}

<div class="panel-success">
     <div class="panel-heading text-center">
         <h4>Добавление новой камеры</h4>
     </div>

     <div class="panel-body">
        @using (Html.BeginForm())
        {
            @:<!--*Html.ValidationSummary()-->
            @Html.TextBoxFor(x => Model.Id, new { type = "hidden", id = "hide_id" })
             
            <div class="form-group">
                <label>Заголовок:</label>
                @Html.TextBoxFor(x => Model.Title, new { @class = "form-control" })
            </div>
             
            <div class="form-group">
                <label>Ip адрес:</label>
                @Html.TextBoxFor(x => Model.Ip, new { @class = "form-control" })
            </div>
            
            <div class="form-group">
                <label>Порт:</label>
                @Html.TextBoxFor(x => Model.Port, new { @class = "form-control" })
            </div>
            
            <div class="form-group">
                <label>Url:</label>
                @Html.TextBoxFor(x => Model.Url_ipcam, new { @class = "form-control" })
            </div>
            
            <div class="form-group">
                <label>Логин:</label>
                @Html.TextBoxFor(x => Model.Login, new { @class = "form-control" })
            </div>
            
            <div class="form-group">
                <label>Пароль:</label>
                @Html.TextBoxFor(x => Model.Pass, new { @class = "form-control", type = "password" })
            </div>
            
            <div class="form-group">
                <label>Uri перекодированного видеопотока:</label>
                @Html.TextBoxFor(x => Model.Port_vlc, new { @class = "form-control" })
            </div>
            
            <div class="text-center">
                @Html.ActionLink("Отмена", "/Index/", "Settings", new { @class = "btn btn-primary" })
                <input type="submit" value="Сохранить настройки" class="btn btn-success">
            </div>
        }
    </div>
</div>

