@using IpCamMonitor.Models.SettingsModel;

@{
    ViewBag.Title = "Настройки";
}
    <script>   
        function ConfirmDelete()
        {
            var sel = document.getElementById("CurrentSettings_Id"); 
            var title = sel.options[sel.selectedIndex].text; 
             
            if (confirm("Вы точно хотите удалить камеру: " + title + "?"))
            {
                var id = document.getElementById("hide_id").value;               
                document.location.href = "m/Settings/DeleteCamera/" + id; //IPCamMotitor - переделать URI.Action чтобы было универсально
            }          
        }
    </script>
   
    <div class="panel-success">
        <div class="panel-heading text-center">
            <h4>Редактор настроек подключения к камерам</h4>
        </div>               
        <label>Выберите камеру: </label>
        @model SettingsViewModel
        @using (Html.BeginForm("Index", "Settings", FormMethod.Post, new { id = "comboform" }))
        {
            @Html.DropDownListFor(x => x.CurrentSettings.Id, Model.ItemList, new {
                 @class = "form-control",                   
                 onchange = "this.form.submit();"
            })
        }


        
        <div class="panel-body">
            @using (Html.BeginForm("SaveSettings", "Settings", FormMethod.Post))
            {
                @:<!--*Html.ValidationSummary()-->              
              
                @Html.TextBoxFor(x => Model.CurrentSettings.Id, new { type = "hidden", id = "hide_id" })               

                <div class="form-group">
                    <label>Заголовок:</label>
                    @Html.TextBoxFor(x => Model.CurrentSettings.Title, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label>Ip адрес:</label>
                    @Html.TextBoxFor(x => Model.CurrentSettings.Ip, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label>Порт:</label>
                    @Html.TextBoxFor(x => Model.CurrentSettings.Port, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label>Url:</label>
                    @Html.TextBoxFor(x => Model.CurrentSettings.Url_ipcam, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label>Логин:</label>
                    @Html.TextBoxFor(x => Model.CurrentSettings.Login, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label>Пароль:</label>
                    @Html.TextBoxFor(x => Model.CurrentSettings.Pass, new { @class = "form-control", type = "password" })
                </div>
                <div class="form-group">
                    <label>Порт перекодированного видеопотока:</label>
                    @Html.TextBoxFor(x => Model.CurrentSettings.Port_vlc, new { @class = "form-control" })
                </div>

                <div class="text-center">
                    <input type="submit" value="Сохранить настройки" class="btn btn-success">
                    <div class="btn btn-default" onclick="document.getElementById('comboform').submit()"><b>Сбросить изменения</b></div>
                    <br><br>
                    @Html.ActionLink("Добавить камеру", "/AddCamera/", "Settings", new { @class = "btn btn-primary"})           
                    <div onclick="ConfirmDelete()" class="btn btn-danger">Удалить камеру</div>                    
                </div>
            }
        </div>
    </div>
   